    <nav class="navbar">

        <div class="hamburger" (click)="activateHamburger()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        
        <ul id="navmenu" class="nav-menu" >
            <li class="nav-item" linkhighlighter>
                <a class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item" linkhighlighter>
                <a class="nav-link">
                    Gallery
                </a>
            </li>
            <li class="nav-item" linkhighlighter>
                <a class="nav-link">
                    Place
                </a>
            </li>
            <li class="nav-item">
                <img id="nav-item-logo" src="../../assets/images/1.png" class="img-size" alt="...">    
            </li>
            <li class="nav-item" linkhighlighter>
                <a class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item" linkhighlighter>
                <a class="nav-link">
                    Contact
                </a>
            </li>
            <li class="nav-item" linkhighlighter>
                <a class="nav-link">
                    Profile
                </a>
            </li>

        </ul>
      
    </nav>
