

<div class="footer-grid">
    <p>#hitoohsnap</p>
    <span id ="footer-caption"> Follow me on Instagram </span>
    <a  href="https://www.instagram.com/hitzeephotography/?next=%2F"><span>&#64;</span >hitzeephotography</a>
        
    <div class="footer-image-grid">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="img-grid">
                        <img src="../../assets/images/pic1.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic2.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic3.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic4.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic5.png" class="d-block img-size" alt="...">  
                    </div>
                    
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="img-grid">
                        <img src="../../assets/images/pic2.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic3.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic4.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic5.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic1.png" class="d-block img-size" alt="..."> 
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="img-grid">
                        <img src="../../assets/images/pic3.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic4.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic5.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic1.png" class="d-block img-size" alt="..."> 
                        <img src="../../assets/images/pic2.png" class="d-block img-size" alt="...">

                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="img-grid">
                        <img src="../../assets/images/pic4.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic5.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic1.png" class="d-block img-size" alt="..."> 
                        <img src="../../assets/images/pic2.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic3.png" class="d-block img-size" alt="...">
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="img-grid">
                        <img src="../../assets/images/pic5.png" class="d-block img-size" alt="...">    
                        <img src="../../assets/images/pic1.png" class="d-block img-size" alt="..."> 
                        <img src="../../assets/images/pic2.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic3.png" class="d-block img-size" alt="...">
                        <img src="../../assets/images/pic4.png" class="d-block img-size" alt="...">    
                    </div>
                </div>
        </div> 
    </div> 

    <div div="icons-grid">
        <img class="footer-icons"src="../../assets/images/i_i.png" alt="Third slide">
        <img class="footer-icons"src="../../assets/images/yt_i.png" alt="Third slide">
        <img class="footer-icons"src="../../assets/images/t_i.png" alt="Third slide">
        <img class="footer-icons"src="../../assets/images/fb_i.png" alt="Third slide">
        <img class="footer-icons"src="../../assets/images/ld_i.png" alt="Third slide">
    </div>
</div>





