
.footer-grid{
    display: block;
    background-color: #1e1f20;
    color: white;
    bottom: 0;
  }
.footer-grid{
  text-align: center;
}
.footer-grid p{
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 70%;
}

#footer-caption{
  font-size: medium;
  opacity: 70%;
}
.footer-grid a{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  opacity: 70%;
}


.footer-icons{
  width: 30px; 
  height: 30px; 
  object-fit: cover;
  margin-bottom: 2%;
  margin-right: 1%;
  opacity: 60%;

}

.icons-grid{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}


.img-size{
height: 200px;
width: 200px;
}

.footer-image-grid{
  display: block;
  align-items: center;
  margin: 1%;
  opacity: 80%;
}
.img-grid{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  opacity: 70%;
}



/* ----------------------------------ipad width----------------------------- */

@media screen and (max-width: 1000px) {


.footer-grid{
  text-align: center;
}
.footer-grid p{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 70%;
  margin-bottom: -1%;
}

#footer-caption{
  font-size: small;
  opacity: 70%;
}
.footer-grid a{
  font-size:small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  opacity: 70%;
}


.footer-icons{
  width: 30px; 
  height: 30px; 
  object-fit: cover;
  margin-bottom: 2%;
  margin-right: 1%;
  opacity: 60%;

}

.icons-grid{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}


  
.img-size{
  height: 150px;
  width: 150px;
  }
}

@media screen and (max-width: 760px) {
  .img-size{
    height: 100px;
    width: 100px;
    }
}

@media screen and (max-width: 512px) {
  .img-size{
    height: 70px;
    width: 70px;
    }

  .footer-icons{
    width: 20px; 
    height: 20px; 
    object-fit: cover;
    margin-bottom: 2%;
    margin-right: 1%;
    opacity: 60%;
  
  }
}




/* 

*{
  box-sizing:border-box;
}

body{
  margin:0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.slider-container{
  position: relative;
  margin: auto;
  width: 75%;
  height: 100%;

  .slider-item{
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: z-index 250ms;

    .slider-image{
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
      transition: 500ms cubic-bezier(0.17,0.67,0.55,1.43);
      transform: scale(0);
      opacity: 0;
      border-radius: 15px;
    }

    &.hideleft{
      .slider-image{
        transform: translateX(-50%) scale(0);
      }
    }
    
    &.prev{
      z-index: 1;
      .slider-image{
        opacity: 0.8;
        transform: translateX(-25%) scale(0.8);
      }
    }
    
    &.selected{
      z-index: 2;
      .slider-image{
        opacity: 1;
        transform: translateX(0%) scale(1);
        cursor: grab;
      }
    
    }
    
    &.next{
      z-index: 1;
      .slider-image{
        opacity: 0.8;
        transform: translateX(25%) scale(0.8);
      }
    }
    
    &.hideright{
      .slider-image{
        transform: translateX(50%) scale(0);
      }
    }
  }

}

:host{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(109.6 deg,rgba(197, 203, 255, 0.2)2%,rgba(261,24,46,67) 5%);

    .container{
      width: 600px;
      height: 600px;
    }
} */
