
<section class="intro_section">
    


    <div class="col-section">
        <div class="">
            <div class="c-header"> About Us</div>
            <div class="inner-intro-text">
                    <p>
                        Step into a realm where each instant is a golden opportunity
                        to encapsulate life's quintessence through the photography lens.
                        Here, amidst boundless landscapes and vibrant cityscapes, 
                        we set forth on an odyssey where travel melds with adventure in 
                        flawless harmony. From the awe-inspiring summits of colossal 
                        mountains to the tranquil banks of remote shores, our thirst for 
                        exploration is unquenchable. Together, we venture into the uncharted, 
                        driven by a quest to etch the world's splendor into eternity, 
                        one photograph at a time. Let us journey side by side, fueled by the 
                        exhilaration of discovery and the magnetic pull of the unknown. 
                        Welcome to a domain where each nook whispers tales, and every camera 
                        click secures a timeless memory. Let's immerse ourselves in this 
                        passionate pursuit, where each snapshot is a testament to our 
                        endless wanderlust and undying love for the unseen wonders of our world.
                    </p>
            </div>
        </div>
        <div class="c-intro"> Our Passionate Collaborators</div>
        <div class="c-team-header"> Meet the Team</div>
        <div class="col-grid">
            <div class="c-block">
                <a href="https://www.instagram.com/parivrajaka3?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">                
                    <img class="c-image"  src="../../assets/images/c1.jpg">
                </a>
                <br>
                <a id="c-name" href="https://www.instagram.com/parivrajaka3?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Divi Teja</a>
                <p class="c-desc">"Believer in the power of kindness and curiosity"</p>
            </div>
            
            <div class="c-block">
                <a href="https://www.instagram.com/0_oeye.see.life?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <img class="c-image" src="../../assets/images/c2.jpg"><br>
                </a>
                <a  id="c-name" href="https://www.instagram.com/0_oeye.see.life?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Vinay</a>
                <p  class="c-desc">"Exploring the world with open eyes and an open heart"</p>
            </div>
            <div class="c-block">
                <a href="https://www.instagram.com/hitzeephotography?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <img class="c-image" src="../../assets/images/hitzee.jpg"><br>
                </a>
                <a  id="c-name" href="https://www.instagram.com/hitzeephotography?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Hitesh</a>
                <p  class="c-desc">"Seeking adventures and meaningful connections"
                </p>
            </div>
        </div>
    </div>
</section>