
<div class="img-slider">
    <div class="slider-box">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner slide-transition" >
                <div class="carousel-item  active carousel-transition" data-bs-interval="10000">
                    <img class="img-side" src="../../assets/images/pic1.png" alt="First slide">
                </div>
                <div class="carousel-item carousel-transition" data-bs-interval="10000">
                    <img class="img-side" src="../../assets/images/pic2.png" alt="Second slide"> 
                </div>
                <div class="carousel-item carousel-transition"data-bs-interval="10000" >
                    <img class="img-side"src="../../assets/images/pic3.png" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
    <div class="slider-box">
        <div id="carouselExampleControls" class="carousel slide-transition" data-bs-ride="carousel">
            <div class="carousel-inner " >
                <div class="carousel-item active carousel-transition" data-bs-interval="12000">
                    <img class="img-center" src="../../assets/images/pic4.png" alt="First slide">
                </div>
                <div class="carousel-item  carousel-transition" data-bs-interval="12000">
                    <img class="img-center" src="../../assets/images/pic5.png" alt="Second slide"> 
                </div>
                <div class="carousel-item carousel-transition"data-bs-interval="12000" >
                    <img class="img-center"src="../../assets/images/pic6.png" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
  
    <div class="slider-box">
        <div id="carouselExampleControls" class="carousel slide-transition" data-bs-ride="carousel">
            <div class="carousel-inner " >
                <div class="carousel-item active carousel-transition" data-bs-interval="14000">
                    <img class="img-side" src="../../assets/images/yosmite.png" alt="First slide">
                </div>
                <div class="carousel-item carousel-transition" data-bs-interval="14000">
                    <img class="img-side" src="../../assets/images/smokymoutains.png" alt="Second slide"> 
                </div>
                <div class="carousel-item carousel-transition" data-bs-interval="14000">
                    <img class="img-side"src="../../assets/images/newyork.png" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
   
</div>


