
.contact-items{
    display:block;
    text-align: center;
    margin: 3%;
  }

  .contact-label{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .contact-desc{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .contact-btn{
    padding-left: 2%;
    padding-right: 2%;
    height: 40px;
    background-color: rgb(39, 39, 40);
    border: none;
    color:white;
  }

  @media screen and (max-width: 850px) {

    .contact-label{
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 0%;
      }
    
      .contact-desc{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 10px;
      }
    
      .contact-btn{
        padding-left: 2%;
        padding-right: 2%;
        height: 30px;
        background-color: rgb(39, 39, 40);
        border: none;
        color:white;
        font-size: x-small;
      }
  }


/* ...................................contact modal....................................... */

  .contact-bg-img{
    width: 470px;
    height: 620px;
    object-fit: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    z-index: -10;
    margin-top: 2%;
    margin-left: 2%;
}

.contact-form-content{
    position: absolute;
    z-index: 10;
    background-color: rgb(0, 0, 0); 
    width: 470px;
    height: 620px;
    align-items: flex-start;
    margin-top: 2%;
    margin-left: 2%;
    opacity: 70%;
}

.contact-form-content{
    display: block;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contact-form-content input{
    height: 10%;
    width: 75%;
    border:none;
    margin: 2%;
    background-color: rgb(238, 224, 216);
  }
.contact-form-content label{
    font-size: 15px;
    color: white;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact-message{
    height: 30%;
}

.contact-form-content button{
    margin: 5%;
    width: 90px;
    height: 45px;
    color: black;
    font-weight: 800;
    background-color: rgb(242, 159, 5);
}

::placeholder {
  color: rgb(3, 3, 3);
  text-align: center;
}


@media screen and (max-width: 1000px) {


    .contact-bg-img{
        width: 400px;
        height: 500px;
        object-fit: cover;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        z-index: -10;
        margin-top: 2%;
        margin-left: 8%;
    }
    
    .contact-form-content{
        position: absolute;
        z-index: 10;
        background-color: rgb(0, 0, 0); 
        width: 400px;
        height: 500px;
        align-items: flex-start;
        margin-top: 2%;
        margin-left: 8%;
        opacity: 70%;
    }
    
    .contact-form-content{
        display: block;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .contact-form-content input{
        height: 8%;
        width: 70%;
        border:none;
        margin: 2%;
        background-color: rgb(238, 224, 216);
        font-size: 12px;
      }
    .contact-form-content label{
        font-size: 12px;
        color: white;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact-message{
        height: 20%;
    }
    
    .contact-form-content button{
        margin: 5%;
        width: 80px;
        height: 40px;
        color: black;
        font-weight: 800;
        background-color: rgb(242, 159, 5);
    }
    
}



@media screen and (max-width: 600px) {


    .contact-bg-img{
        width: 300px;
        height: 400px;
        object-fit: cover;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        z-index: -10;
        margin-top: 2%;
        margin-left: 22%;
    }
    
    .contact-form-content{
        position: absolute;
        z-index: 10;
        background-color: rgb(0, 0, 0); 
        width: 300px;
        height: 400px;
        align-items: flex-start;
        margin-top: 2%;
        margin-left: 22%;
        opacity: 70%;
    }
    
    .contact-form-content{
        display: block;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .contact-form-content input{
        height: 8%;
        width: 70%;
        border:none;
        margin: 2%;
        background-color: rgb(238, 224, 216);
        font-size: 12px;
      }
    .contact-form-content label{
        font-size: 12px;
        color: white;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact-message{
        height: 20%;
    }
    
    .contact-form-content button{
        margin: 5%;
        width: 80px;
        height: 40px;
        color: black;
        font-weight: 800;
        background-color: rgb(242, 159, 5);
    }
    
}



@media screen and (max-width: 470px) {


    .contact-bg-img{
        width: 200px;
        height: 300px;
        object-fit: cover;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        z-index: -10;
        margin-top: 10%;
        margin-left: 25%;
    }
    
    .contact-form-content{
        position: absolute;
        z-index: 10;
        background-color: rgb(0, 0, 0); 
        width: 200px;
        height: 300px;
        align-items: flex-start;
        margin-top: 10%;
        margin-left: 25%;
        opacity: 70%;
    }
    
    .contact-form-content{
        display: block;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .contact-form-content input{
        height: 8%;
        width: 70%;
        border:none;
        margin: 1%;
        background-color: rgb(238, 224, 216);
        font-size: 8px;
      }
    .contact-form-content label{
        font-size: 8px;
        color: white;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact-message{
        height: 15%;
    }
    
    .contact-form-content button{
        margin: 5%;
        width: 60px;
        height: 30px;
        color: black;
        font-weight: 800;
        background-color: rgb(242, 159, 5);
        font-size: 10px;
    }
    
}



@media screen and (max-width: 375px) {


    .contact-bg-img{
        width: 200px;
        height: 300px;
        object-fit: cover;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        z-index: -10;
        margin-top: 10%;
        margin-left: 25%;
    }
    
    .contact-form-content{
        position: absolute;
        z-index: 10;
        background-color: rgb(0, 0, 0); 
        width: 200px;
        height: 300px;
        align-items: flex-start;
        margin-top: 10%;
        margin-left: 25%;
        opacity: 70%;
    }
    
    .contact-form-content{
        display: block;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .contact-form-content input{
        height: 8%;
        width: 70%;
        border:none;
        margin: 1%;
        background-color: rgb(238, 224, 216);
        font-size: 8px;
      }
    .contact-form-content label{
        font-size: 8px;
        color: white;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact-message{
        height: 15%;
    }
    
    .contact-form-content button{
        margin: 5%;
        width: 60px;
        height: 30px;
        color: black;
        font-weight: 800;
        background-color: rgb(242, 159, 5);
        font-size: 10px;
    }
    
}



@media screen and (max-width: 320px) {


    .contact-bg-img{
        width: 200px;
        height: 300px;
        object-fit: cover;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        z-index: -10;
        margin-top: 10%;
        margin-left: 20%;
    }
    
    .contact-form-content{
        position: absolute;
        z-index: 10;
        background-color: rgb(0, 0, 0); 
        width: 200px;
        height: 300px;
        align-items: flex-start;
        margin-top: 10%;
        margin-left: 20%;
        opacity: 70%;
    }
    
    .contact-form-content{
        display: block;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .contact-form-content input{
        height: 8%;
        width: 70%;
        border:none;
        margin: 1%;
        background-color: rgb(238, 224, 216);
        font-size: 8px;
      }
    .contact-form-content label{
        font-size: 8px;
        color: white;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact-message{
        height: 15%;
    }
    
    .contact-form-content button{
        margin: 5%;
        width: 60px;
        height: 30px;
        color: black;
        font-weight: 800;
        background-color: rgb(242, 159, 5);
        font-size: 10px;
    }
    
}
