<section class="quote-section">
    <div class="quote-container">
        <div class="quote-outer-box">
            <div class="quote-box">
                <p class="quote-text">All photographs are memento mori. To take a photograph 
                    is to participate in another persons (or thing’s) mortality, vulnerability,
                    mutability. Precisely by slicing out this moment 
                    and freezing it, all photographs testify to time’s relentless melt.
                </p>
                <div class="quote-owner">
                    <h4>- Susan Sontag</h4>
                </div>   
            </div>
        </div>
        <div class="quote-outer-box">
            <div class="quote-box">
                <p class="quote-text">You don’t make a photograph just with a camera. You bring to the act 
                    of photography all the pictures you have seen,the books you have read,
                     the music you have heard, the people you have loved. </p>
                    <div class="quote-owner">
                        <h4>- Ansel Adams</h4>
                    </div>
            </div>
        </div>
        <div class="quote-outer-box">
            <div class="quote-box">
                <p class="quote-text"> To photograph is to hold one’s breath, when all faculties converge to 
                    capture fleeting reality. It’s at that precise moment 
                    that mastering an image becomes a great physical and intellectual joy.</p>
                    <div class="quote-owner">
                        <h4>- Henri Cartier-Bresson</h4>
                    </div>
            </div>
        </div> 
    </div>

</section>