
<section class="wel-container">
    <div class="welcome">Alemariya Kathe</div>
    <div class="welcome-quote">
        <div>Step into a world of captivating tales and boundless imagination </div>
        <div class="welcome-header">
            <div>
                <img src="../../assets/images/hiking.png" class="d-block img-size" alt="...">
            </div>
            <div>            
                Welcome to our page, where every story begins with a click
            </div>
        </div>
        <div class="home-header-sep"></div>

    </div>    

</section>