.nav-item-logo{
    display:block;
    text-align: center;
}

.logo_c{
    color:#ffffff;
    font-size: 45px;

}

.logo_c_sub{
    color:#ffffff;
    font-size: 25px;
    margin-top: -20px;

}

.logo_c_caption{
    color:#ffffff;
    font-size: 15px;
}


/* ___________________________________________Ipad width___________________________________________ */

@media screen and (max-width: 900px) {

    
    .nav-item-logo{
        display:block;
        text-align: center;
    }
    
    .logo_c{
        color:#ffffff;
        font-size: 25px;
    }
    
    .logo_c_sub{
        color:#ffffff;
        font-size: 20px;
        margin-top: -10px;
    }
    
    .logo_c_caption{
        color:#ffffff;
        font-size: 10px;
    }
    
    }
    
    
    /* ___________________________________________mobile width___________________________________________ */
    
/*     
    @media(max-width:768px){
     
        *{
            list-style: none;
        }
    
        .nav-item-logo{
            display: none;
        }

    } */